<div class="container">
	<div class="d-flex justify-content-center h-100 myheight">
		<div class="card mycard">
			<div class="card-header">
				<h3>Reset Password</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body">
				<form *ngIf="!enableForm" (ngSubmit)="sendCode()" [formGroup]="sendEmailParentGroup">
					<div formGroupName="user">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input formControlName="email" type="text" class="form-control" placeholder="email">
							<div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
								<div *ngIf="email?.errors?.['required'] || email?.errors?.['notOnlySpace']" class="alert alert-danger" role="alert">
									Email is required
								</div>
								<div *ngIf="email?.errors?.['pattern']" class="alert alert-danger" role="alert">
									Invalid email
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="send code" class="btn float-right login_btn">
						</div>
					</div>
				</form>
                <form *ngIf="enableForm" (ngSubmit)="resetPassword()" [formGroup]="resetPasswordParentGroup">
					<div formGroupName="newUser">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input formControlName="code" type="text" class="form-control" placeholder="code">
							<div *ngIf="code?.invalid && (code?.dirty || code?.touched)">
								<div *ngIf="code?.errors?.['required'] || code?.errors?.['notOnlySpace']" class="alert alert-danger" role="alert">
									Code is required
								</div>
							</div>
                            <input formControlName="password" type="text" class="form-control" placeholder="password">
							<div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
								<div *ngIf="password?.errors?.['required'] || password?.errors?.['notOnlySpace']" class="alert alert-danger" role="alert">
									Password is required
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="reset" class="btn float-right login_btn">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>