<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a routerLinkActive="menu-active" *ngFor="let category of categories" class="dropdown-item" routerLink="/category/{{category.id}}" >
            <i class="{{category.logo}}" ></i> {{category.name}} 
        </a>
    </div>
</li>